* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    margin-bottom: 45px;
    top: 0px;
    position: fixed;
    min-width: 100%;
    z-index: 1000;
}

#head {
    background-color: rgb(42, 42, 42);
}

#acc_info {
    min-width: 100%;
    position: relative;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.list-group-item {
    height: 50px;
    width: 700px;
}

