<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography Project</title>
</head>
<body>
    <div id="nav" class="nav"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function checkUser() {
            if(localStorage.getItem("user") === null) {
                window.location.href = "/login";
                return
            } else {
                var user_info = localStorage.getItem("user");
                user_info = user_info.split(',');
                return
            }
        }
        checkUser();
        $(function(){
            $("#nav").load("/nav");
        });
    </script>
</body>
</html>